<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem 
        id="is_provenance_client_menu" name="Provenance client" parent="crm.crm_menu_config" 
        action="is_provenance_client_action" sequence="50" groups="is_jura_couverture_18.group_configuration_jc"/>
    <menuitem 
        id="is_forme_juridique_menu" name="Formes juridiques" parent="crm.crm_menu_config" 
        action="is_forme_juridique_action" sequence="60" groups="is_jura_couverture_18.group_configuration_jc"/>

    <menuitem 
        id="is_famille_menu" name="Famille article" parent="purchase.menu_purchase_config" 
        action="is_famille_action" sequence="60" groups="is_jura_couverture_18.group_configuration_jc"/>


    <!-- Masquer les menus de base inutilisés -->
    <menuitem id="utm.menu_link_tracker_root" parent="base.menu_custom"/>




</odoo>
